{% extends 'bookstore/layout.html' %}
{% block content %}
<h1>detail view</h1>
<div>{{book.image.url.open}}</div>
<h1>Book:{{book.title}}</h1>
<P>{{book.image_url}}</P>
<p>Author:<a href="">{{book.author}}</a></p>
<p>Genre:{{book.display_genre}}</p>
<p>language:{{book.language}}</p>
<p>status:ended at {{book.pub_date}}</p>
<p>Summary:{{book.summery}}</p><br><hr>
<strong><h1>Comments</h1></strong>
{% if not book.comments.all %}
    No comments <a href="">add comment</a>
{% else%}
 {% for  comment in book.comments.all %}
 <strong>{{comment.book}}-{{comment.pub_date}}</strong><br>
 {{comment.body}}
 <a href="">add comment</a>
 {% endfor %}
{% endif%}
{% endblock content %}
