<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside>
    <ul>
    <li><a href="{% url 'bookstore:index' %}">home</a></li>
    <li><a href="{% url 'bookstore:book_list' %}">all books</a></li>
    <li><a href="{% url 'bookstore:author_list' %}">authors</a></li>
    {% if user.is_authenticated %}
    <li>user:{{ user.get_username }}</li>
    <li><a href="{% url 'accounts:logout' %}">logout</a></li>
    {% else %}
    <li><a href="{% url 'accounts:register' %}">register</a></li>
    <li><a href="{% url 'accounts:loginview' %}">login</a></li>
    {% endif %}
    </ul>
    </aside>
    <section>
    {% block content %}
    {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}

    {% endblock content %}
    </section>
</body>
</html>